.main-desc {
    display: flex;
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    font-size: small;
}

.info > p {
    color: rgba(0, 0, 0, 0.4);
    margin: 0 10px;
}

.info > p > span {
    color: rgba(0, 0, 0, 0.8);
    margin: 0 5px;
}


.all-options > .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.25);
    font-size: large;
    margin: 5px 0;
}

.all-questions{
    display: flex;
    flex-direction: column;
}
.all-questions > p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 100;
}
.main-answer >h3{
    font-size: 22px;
    margin: 10px 0px;
    font-weight: 400;
}
.comments{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 90%;
    margin-left: auto;
}
.comment{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}
.comment >p{
    margin: 10px 0px;
}
.comment >p >span{
    padding: 3px;
    background-color: #0151f028;
    color: #0151f0d8;
    border-radius: 2px;
}
.comments >p{
    margin-left: -35px;
    margin-top: 20px;
    font-size: small;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}
.comments >p:hover{
    color: #0151f0a2;
}

.arrow{
    display: flex;
    justify-content: center;
    align